@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
/* 顶部 */
.top{
    width: 100%;
    font-size: 12px;
    color: #333;
    height: 30px;
    background: #e3e4e5;
    border-bottom: solid 1px #e3e4e5;
    position: relative;
    z-index: 97;
}
.top .wrapper{
    font-size: 12px;
    color: #333;
    width: 1200px;
    margin: 0 auto;
}
.top .wrapper .top-login{
    font-size: 12px;
    float: left;
    line-height: 30px;
    color: #6b6b6b;
    overflow: hidden;
    margin-left: 15px;
}
.top .wrapper .top-login p a{
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
    /* transition: color .1s; */
    border: 0;
    outline: 0;
    margin-left: 5px;
    color: #6b6b6b;
    position: relative;
}
.top .wrapper .top-menu{
    font-size: 12px;
    color: #333;
    float: right;
    height: 30px;
    overflow: hidden;
}
.top .wrapper .top-menu a{
    font-size: 12px;
    /* transition: color .1s; */
    border: 0;
    outline: 0;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #6b6b6b;
    position: relative;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
}
.top .wrapper .top-menu .top-user-show{
    display: none;
    left: 689.8px;
    position: absolute;
    background: #fff;
    top: 29px;
    width: 90px;
    padding: 0 10px;
    border: solid 1px #ddd;
    z-index: 96;
}
.top .wrapper .top-menu .top-user-show a{
    display: block;
    height: 30px;
    line-height: 30px;
    color: #6b6b6b;
}
.top .wrapper  .top-sitemap-show{
    position: absolute;
    background: #fff;
    top: 29px;
    width: 1198px;
    border: solid 1px #ddd;
    display: none;
    z-index: 96;
}
.top .wrapper  .top-sitemap-show ul{
    overflow: hidden;
    height: 200px;
}
.top .wrapper  .top-sitemap-show ul li{
    padding: 20px 0;
    height: 200px;
    width: 20%;
    float: left;
    overflow: hidden;
}
.top .wrapper  .top-sitemap-show ul li h3{
    font-weight: normal;
    margin: 0 20px 10px;
    font-size: 16px;
    color: #f70;    
}
.top .wrapper  .top-sitemap-show ul li .fnav-list{
    padding: 0 20px;
}
.top .wrapper  .top-sitemap-show ul li .fnav-list a{
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    color: #6b6b6b;
    width: 99px;
    position: relative;
}
.top .wrapper .top-menu .top-telephone{
    font-size: 14px;
    color: #4FB99F;
}
/* 头部 */
.header{
    width: 100%;
    color: #999;
    height: 145px;
    background: #f5f5f5;
}
.header .wrapper{
    width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.header .wrapper .logo-box{
    width: 220px;
    height: 145px;
    position: relative;
    float: left;
}
.header .wrapper .logo-box h1{
    width: 220px;
    height: 100px;
    float: left;
    font-size: 100%;
}
.header .wrapper .logo-box h1 a{
    display: block;
    line-height: 145px;
    height: 145px;
    text-align: center;
    margin: 0;
    width: 100%;
    border: 0;
    outline: 0;
}
.header .wrapper .logo-box h1 a img{
    width: 140px;
    vertical-align: middle;
    line-height: 145px;
    text-align: center;
}
.header .search-form{
    margin-left: 115px;
    margin-top: 25px;
    height: 72px;
    width: 540px;
    position: relative;
    float: left;
}
.header .search-form .search-box{
    border: 2px solid #4FB99F;
    float: left;
    height: 34px;
    width: 450px;
    outline: 0;
    padding: 0 5px;
    font-size: 12px;
}
.header .search-form .search-btn{
    background-color: #4FB99F;
    border: 0;
    color: #fff;
    float: left;
    font-size: 16px;
    width: 70px;
    height: 38px;
    cursor: pointer;
}
.header .search-form p{
    height: 25px;
    line-height: 25px;
    color: #999;
    overflow: hidden;
    width: 540px;
    font-size: 12px;
}
.header .search-form p a{
    color: #999;
    margin-right: 14px;
    display: inline-block;
    border: 0;
    outline: 0;
    /* transition: color .1s; */
    line-height: 25px;
    font-size: 12px;
}
.header .header-qrcode{
    width: 220px;
    height: 145px;
    text-align: right;
    float: right;
    font-size: 12px;
    color: #333;
}
.header .header-qrcode .header-cart{
    width: 160px;
    margin-top: 25px;
    float: right;
    position: relative;
    text-align: right;
}
.header .header-qrcode .header-cart a{
    background: #fff;
    border: solid 1px #dfdfdf;
    text-align: center;
    height: 38px;
    line-height: 38px;
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 95;
    outline: 0;
    color: #333;
    /* transition: color .1s; */
}
.header .header-qrcode .header-cart a svg{
    width: 16px;
    height: 14.2222px;
    overflow: hidden;
    text-align: center;
    line-height: 38px;
    color: #333;
}
.header .header-qrcode .header-cart a svg span{
    padding: 0 3px;
    background: #4FB99F;
    color: #fff;
    height: 14px;
    line-height: 14px;
    border-radius: 14px;
    text-align: center;
}
/* 导航 */
.navigation{
    border-bottom: none;
    background: none;
    margin-top: -45px;
    height: 45px;
}
.navigation .wrapper{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.navigation .wrapper .nav{
    margin-left: 230px;
    margin-top: -45px;
    width: 980px;
    height: 45px;
    line-height: 45px;
    /* position: relative; */
}
.navigation .wrapper .nav a{
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    padding: 0 16px;
    color: #333;
    /* transition: color 500ms; */
    position: relative;
    display: block;
    float: left;
    line-height: 45px;
}
.navigation .wrapper .nav li{
    display: none;
    position: absolute;
    top: 35px;
    z-index: 100;
    background: #fff;
    width: 96px;
    border: 1px solid #6b6b6b;
}
.navigation .wrapper .nav .li_block{
    display: block;
}
.navigation .wrapper .nav li a{
   display: block;
}
/* body */
.homebox{
    width: 100%;
    position: relative;
}
/* banner */
.homebox .banner_bg{
    height: 480px;
    width: 100%;
    position: relative;
}
.homebox .banner_bg .banner_bg_box{
    height: 100%;
    width: 760px;
    margin: 0 auto;
    overflow: hidden;
}
.homebox .banner_bg .banner_img{
    width: 100%;
    height: 100%;
}
.homebox .banner_bg .img_xlbox{
    width: 760px;
    position: absolute;
    left: 50%;
    margin-left: -380px;
    bottom: 20px;
    text-align: center;
}
.homebox .banner_bg .img_xl{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: rgba(0,0,0,.2);
    display: inline-block;
    margin: 0 3px;
}
.homebox .banner_bg .banner_jtleft,.homebox .banner_bg .banner_jtright{
    width: 40px;
    height: 70px;
    font-size: 50px;
    line-height: 65px;
    background: rgba(0, 0, 0, .3);
    color: #eee;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    border-radius: 5px;
    /* display: none; */
    z-index: 10;
}

.homebox .banner_bg .banner_jtleft{
    left: 390.5px;
}
.homebox .banner_bg .banner_jtright{
    right: 390.5px;
}
/* 选项卡 */
.homebox .nav-menu{
    /* overflow: visible; */
    width: 220px;
    height: 480px;
    position: absolute;
    top: 0;
    z-index: 91;
    background: rgba(51,51,51,.6)
}
.homebox dl{
    width: 220px;
    height: 80px;
}
.homebox dl dt{
    padding: 8px 10px;
    position: relative;
    color: #fff;
    /* transition: all .1s; */
    font: 12px;
}
.homebox dl dt b{
    display: block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.homebox dl dt b i{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: text-top;
}
.homebox dl dt b a{
    color: #fff;
    margin-right: 10px;
    font-size: 13px;
    font-weight: normal;
}
.homebox dl dt span{
    display: block;
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 24px;
}
.homebox dl dt span a{
    color: #fff;
    opacity: .7;
    margin-right: 8px;
    white-space: nowrap;
    display: inline-block;
    line-height: 22px;
    font-size: 10px;
}
.homebox dl dd{
    width: 760px;
    position: absolute;
    top: 0;
    min-height: 468px;
    border: 1px solid #dfdfdf;
    border-left: none;
    left: 220px;
    z-index: 99;
    background: #fff;
    display: none;

}
.homebox dl .dd_block{
    display: block;
}
.homebox dl dd .left{
    width: 510px;
    margin: 10px;
    float: left;
    display: block;
    font-size: 12px;
}
.homebox dl dd .left .nav-menu-item{
    border-bottom: solid 1px #eee;
    clear: both;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.homebox dl dd .left .nav-menu-item h4{
    float: left;
    width: 70px;
    line-height: 25px;
    color: #4FB99F;
    font-size: 100%;
}
.homebox dl dd .left .nav-menu-item p{
    margin-left: 70px;
    line-height: 25px;
    display: block;
}
.homebox dl dd .left .nav-menu-item p a{
    margin-right: 7px;
    display: inline-block;
    border: 0;
    outline: 0;
    color: #333;
    line-height: 25px;
    content: '|';
    margin-left: 7px;
    color: #cfcfcf;
    
}
.homebox dl dd .right{
    height: 458px;
    width: 200px;
    padding: 10px;
    float: right;
}
/* 登录注册 */
.homebox .side_box{
    width: 220px;
    background: #fff;
    height: 480px;
    position: absolute;
    top: 0;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    right: 0;
    
}
.homebox .side_box .user-login{
    padding: 20px;
    overflow: hidden;
}
.homebox .side_box .user-login .tximg{
    float: left;
}
.homebox .side_box .user-login .userInfo{
    margin-left: 10px;
    line-height: 22px;
    float: left;
}
.homebox .side_box .user-login .userInfo p{
    color: orange;
}
.homebox .side_box .login-text{
    margin-top: -10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.homebox .side_box .login-text a{
    color: #4FB99F;
}
.homebox .side_box .side_title{
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border-bottom: solid 1px #eee;
}
.homebox .side_box .side_title a{
    float:right;
}
.homebox .side_box .side_title .maxfont{
    float:left;
    font-size: 14px;
}
.homebox .side_box ul{
    margin: 10px 0;
}
.homebox .side_box ul li{
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;
}
.homebox .side_box ul li a{
    color: #333;
}
.homebox .side_box .service{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 222px;
    overflow: hidden;
    background: #fff;
    border-top: solid 1px #eee;
    margin-top: -1px;
    position: relative;
}
.homebox .side_box .service .side_title{
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    border-bottom: solid 1px #eee;
}
.homebox .side_box .service .side_title b{
    font-size: 14px;
    font-weight: normal;
}
.homebox .side_box .service .service-menu a{
    height: 73px;
    display: block;
    width: 73px;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
    float: left;
    text-align: center;
    color: #333;
}
.homebox .side_box .service .service-menu a i{
    display: block;
    background-position: 0 0;
    width: 36px;
    height: 36px;
    margin: 8px auto 4px;
    /* transition: transform 500ms; */
}
.homebox .side_box .service .service-menu a  .iconfont{
    color: #4FB99F;
    font-family: "iconfont" !important;
    font-size: 36px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
.homebox .side_box .service .service-menu a span{
    text-align: center;
    color: #333;
}
/* 马车 */
.homebody{
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
}
.homebody .banxin{
    width: 1200px;
    margin: 20px auto 0;
    overflow: hidden;
}
.homebody .banxin .diy-troika{
    width: 100%;
    overflow: hidden;
}

.homebody .banxin .diy-troika .troika-list{
    float: left;
    width: 393px;
    background: #fff;
    margin-right: 10px;
    color: #333;
    font-size: 12px;
}
.homebody .banxin .diy-troika .marginright_none{
    margin-right: 0;
}
.homebody .banxin .diy-troika .troika-list .troika-title a{
    color: #333;
}
.homebody .banxin .diy-troika .troika-list .troika-title a img{
    width: 393px;
    height: 54px;
    border: 0;
    outline: 0;
}
.homebody .banxin .diy-troika .troika-list .troika-body{
    padding: 10px;
    overflow: hidden;
}
.homebody .banxin .diy-troika .troika-list .troika-body .left{
    border-right: 1px dashed #d6d6d6;
    float: left;
}
.homebody .banxin .diy-troika .troika-list .troika-body .left .big-img{
    border-bottom: 1px dashed #d6d6d6;
    width: 186px;
    height: 253px;
    display: block;
    position: relative;
    color: #555;
    font-size: 12px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .left .big-img img{
    position: absolute;
    bottom: 0;
    left: 13px;
    right: 0;
    vertical-align: top;
    border: 0;
    outline: 0;
    width: 160px;
    height: 160px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .left .big-img div{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 10px;
    line-height: 18px;
    width: 170px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .left .big-img div h3{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
    color: #4fb99f;
    line-height: 18px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .left .big-img div p{
    line-height: 18px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .left .bottom-img {
    display: block;
    position: relative;
    color: #555;
    width: 186px;
    height: 126px;
    overflow: hidden;
}
.homebody .banxin .diy-troika .troika-list .troika-body .left .bottom-img img{
    position: absolute;
    right: 0;
    bottom: 0;
    vertical-align: top;
    width: 80px;
    height: 80px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .left .bottom-img div{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 10px;
    line-height: 18px;
    width: 170px;
    color: #555;
    font-size: 12px;
}
.homebody .banxin .diy-troika .troika-list .troika-body div a div h3{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
    color: #4fb99f;
    line-height: 18px;
}
.homebody .banxin .diy-troika .troika-list .troika-body div a div p{
    display: block;
    line-height: 18px;
    color: #555;
}
.homebody .banxin .diy-troika .troika-list .troika-body .right{
    float: right;
    color: #333;
    font-size: 12px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .right a{
    display: block;
    position: relative;
    color: #555;
    width: 186px;
    height: 126px;
    border-bottom: 1px dashed #d6d6d6;
    overflow: hidden;
    font-size: 12px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .right .border_none{
    border-bottom: none;
}
.homebody .banxin .diy-troika .troika-list .troika-body .right a img{
    position: absolute;
    right: 0;
    bottom: 0;
    vertical-align: top;
    width: 80px;
    height: 80px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .right a div{
    position: absolute; left: 0; top: 0; padding: 10px 10px; line-height: 18px; width:170px;
}
.homebody .banxin .diy-troika .troika-list .troika-body .right a div h3{
    font-size: 16px; padding-bottom: 8px; font-weight:normal; 
}
.homebody .banxin .diy-troika .troika-list .troika-body .right a div p{
    line-height: 18px;
}
.troika-body img{
    transition:  0.5s;
}
/* 售后板块 */
#go_shouhou{
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

#go_shouhou .left{
    position: relative;
    float: left;
}
#go_shouhou .margin-right{
    margin-right:10px
}
#go_shouhou .left a{
    display: block;
}
#go_shouhou .left a img{
    vertical-align: top;
}
#go_shouhou .left a .get-src{
    width: 595px;
    height: 160px;
}
#go_shouhou .left div{
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
    height: 160px;
}
/* 基友 */
.banxin #wrapperB{
    width: 100%;
    font-size: 12px;
    color: #333;
    overflow: hidden;
}
.banxin #wrapperB .diy-floor{
    background: #fff;
    margin-bottom: 20px;
    height: auto;
    overflow: hidden;
}
.banxin #wrapperB .diy-floor .floor-title a{
    display: block;
    font-size: 12px;
    color: #333;
}
.banxin #wrapperB .diy-floor .floor-title a img{
    width: 1200px;
    height: 54px;
}
.banxin #wrapperB .diy-floor .floor-main{
    padding: 10px;
    overflow: hidden;
    font-size: 12px;
    color: #333;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD{
    width: 190px;
    float: left;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .topAD{
    display: block;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    color: #333;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .topAD img{
    
    vertical-align: top;
    width: 190px;
    height: 290px;
    transition-duration: .3s;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .topAD .diy-tip{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 10px;
    line-height: 18px;
    width: 170px;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .topAD .diy-tip h3{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
    color: #4fb99f;
    line-height: 18px;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .topAD .diy-tip p{
    color: #6b6b6b;
    line-height: 18px;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .bottomAD{
    position: relative;
    display: block;
    height: 150px;
    color: #fff;
    text-align: center;
    background: #4fb99f;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .bottomAD .textAD{
    display: block;
    background: #4fb99f;
    line-height: 34px;
    position: absolute;
    top: -34px;
    width: 150px;
    left: -10px;
    padding: 0 30px 0 20px;
    opacity: 0.7;
    text-align: left;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .bottomAD dl{
    padding: 30px 20px;
    color: #fff;
    text-align: center;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .bottomAD dl dt{
    display: block;
    font-size: 26px;
    margin-bottom: 5px;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .bottomAD dl dd{
    display: block;
    margin-inline-start: 40px;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .bottomAD dl dd span{
    width: 70px;
    display: inline-block;
    line-height: 20px;
}
.banxin #wrapperB .diy-floor .floor-main .leftAD .bottomAD dl dd span a{
    display: block;
    color: #fff;
    line-height: 20px;
}
.banxin #wrapperB .diy-floor .floor-main .shop-list{
    float: left;
    margin-left: 10px;
    width: 780px;
    height: 440px;
    color: #333;
    font-size: 12px;
}
.banxin #wrapperB .diy-floor .floor-main .shop-list .overflow-hide{
    overflow: hidden;
    height: 439px;
}
.banxin #wrapperB .diy-floor .floor-main .shop-list .overflow-hide li{
    float: left;
    width: 25%;
    height: 220px;
    display: list-item;
    text-align: -webkit-match-parent;
}
.banxin #wrapperB .diy-floor .floor-main .shop-list .overflow-hide li a{
    border-right: 1px dashed #d6d6d6;
    border-bottom: 1px dashed #d6d6d6;
    display: block;
    height: 220px;
    overflow: hidden;
    position: relative;
    color: #333;
}
.banxin #wrapperB .diy-floor .floor-main .shop-list .overflow-hide li a img{
    position: absolute;
    right: 0;
    bottom: 0;
    transition-duration: .3s;
    vertical-align: top;
    width: 120px;
    height: 120px;
}
.banxin #wrapperB .diy-floor .floor-main .shop-list .overflow-hide li a .diy-tip{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 10px;
    line-height: 18px;
    width: 170px;
    color: #4fb99f;
}
.banxin #wrapperB .diy-floor .floor-main .shop-list .overflow-hide li a .diy-tip h3{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
    color: #4fb99f;
    line-height: 18px;
}
.banxin #wrapperB .diy-floor .floor-main .shop-list .overflow-hide li a .diy-tip p{
    color: #555;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height:18px;
}
.banxin #wrapperB .diy-floor .floor-main .shop-list .overflow-hide li a .diy-tip .get-price{
    color: #4fb99f;
    line-height: 18px;
}
.banxin #wrapperB .diy-floor .floor-main .rightAD{
    width: 200px;
    float: right;
}
.banxin #wrapperB .diy-floor .floor-main .rightAD a{
    display: block;
    height: 110px;
    overflow: hidden;
    position: relative;
    color: #333;
    font-size: 12px;
}
.banxin #wrapperB .diy-floor .floor-main .rightAD a img{
    position: absolute;
    right: 0;
    bottom: 0;
    vertical-align: top;
    width: 80px;
    height: 80px;
}
.banxin #wrapperB .diy-floor .floor-main .rightAD a .diy-tip{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 10px;
    line-height: 18px;
    width: 170px;
    color: #4fb99f;
}
.banxin #wrapperB .diy-floor .floor-main .rightAD a .diy-tip h3{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
}
.banxin #wrapperB .diy-floor .floor-main .rightAD a .diy-tip p{
    color: #555;
}
.banxin #wrapperB .diy-floor .brand-link{
    height: 46px;
    line-height: 46px;
    position: relative;
    font-size: 12px;
    color: #333;
}
.banxin #wrapperB .diy-floor .brand-link .link-list{
    position: absolute;
    padding: 0 15px;
    width: 100%;
    z-index: 9;
}
.banxin #wrapperB .diy-floor .brand-link .link-list .left{
    display: block;
    font-size: 16px;
    margin-right: 20px;
    color: #4fb99f;
    float: left;
}
.banxin #wrapperB .diy-floor .brand-link .link-list a{
    display: block;
    color: #4fb99f;
    float: left;
    font-size: 14px;
    line-height: 16px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin: 16px 0 0 15px;
    padding-right: 15px;
}
/* 好货 */
.banxin #go_more{
    font-size: 12px;
    color: #333;
    overflow: hidden;
}
.banxin #go_more .goodCommodity{
    overflow: hidden;
    font-size: 12px;
    color: #333;
    line-height: 20px;
    padding-bottom: 30px;
}
.banxin #go_more .goodCommodity ul{
    width: 1215px;
    overflow: hidden;
    padding-top: 20px;
}
.banxin #go_more .goodCommodity ul .anim-top{
    width: 202px;
    height: 280px;
    padding: 15px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    line-height: 20px;
    transition: 0.3s;
    position: relative;
}
.banxin #go_more .goodCommodity ul .anim-top a{
    display: block;
    color: #555;
    font-size: 12px;
}
.banxin #go_more .goodCommodity ul .anim-top a .goodimg{
    display: block;
    color: #555;
}
.banxin #go_more .goodCommodity ul .anim-top a .goodimg img{
    vertical-align: top;
    width: 100%;
}
.banxin #go_more .goodCommodity ul .anim-top a .row2{
    max-height: 40px;
    font-size: 14px;
    display: -webkit-box;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
    color:#555;
}
.banxin #go_more .goodCommodity ul .anim-top a .red{
    font-size: 14px;
    line-height: 30px;
    color: #e73828;
    
}
.banxin #go_more .goodCommodity .loadmore{
    text-align: center;
    padding-top: 10px;
}
.banxin #go_more .goodCommodity .loadmore .button{
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    font-size: 14px;
    border: 1px solid #dfdfdf;
    color: #999;
    border-radius: 3px;
    font-family: 'Microsoft YaHei UI', SimHei;
    cursor: pointer;
    outline: 0;
    transition: all ease-in-out .3s;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
/* 楼层跳转 */
.wrapper .diy-elevator{
    font: 12px/1.5 tahoma, Verdana, arial, "microsoft yahei", "sim sun";
    color: #333;
    position: fixed;
    top: 50px;
    z-index: 9;
    margin-left: -50px;
    display: none;
}
.diy-elevator a{
    transition:  .5s;
    border: 0;
    width: 28px;
    height: 28px;
    padding: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    background: #bbb;
    color: #fff;
    margin-bottom: 1px;
    cursor: pointer;
    overflow: hidden;
    line-height: 14px;
}
/* footer */
.footer{
    /* margin-top: 30px; */
    background: #fff;
    position: relative;
    z-index: 2;
    font-size: 12px;
    color: #333;
}
.footer .promise{
    height: 110px;
    width: 1200px;
    margin: 0 auto;
}
.footer .promise a{
    display: block;
    width: 220px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    color: #333;
}
.footer .promise a dl{
    width: 100%;
}
.footer .promise a dl .icon-1{
    background-position: 0 -232px;
    width: 50px;
    height: 50px;
    float: left;
    display: block;
    color: #4FB99F;
    font-size: 40px;
}
.footer .promise a dl dd{
    margin-left: 60px;
    font-family: 'Microsoft YaHei';
    display: block;
    margin-inline-start: 40px;
}
.footer .promise a dl dd h4{
    font-size: 20px;
    font-weight: normal;
}
.footer .promise a dl dd p{
    color: #9c9c9c;
}
.footer .foot-help{
    border-top: solid 1px #eee;
    height: 160px;
}
.footer .foot-help .wrapper{
    width: 1200px;
    margin: 0 auto;
}
.footer .foot-help .wrapper dl{
    float: left;
    height: 110px;
    width: 180px;
    padding-top: 30px;
}
.footer .foot-help .wrapper .foot-sns{
    width: 250px;
    float: right;
    padding-top: 30px;
    height: 110px;
}
.footer .foot-help .wrapper .foot-sns .icon-1{
    font-size: 50px;
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    background-position: -130px -282px;
    padding-top: 10px;
}
.footer .foot-help .wrapper dl dd{
    display: block;
    margin-top: 10px;
}
.footer .foot-help .wrapper dl dd a{
    display: block;
    line-height: 25px;
    color: #9c9c9c;
    
}
/* bottom */
.bottom{
    width: 100%;
    height: 286px;
    background: url(../img/img_bottom_02.jpg) no-repeat center;
}
/* 友情链接 */
.friend_link{
    background: #f6f6f6;
    height: 40px;
    line-height: 40px;
    text-shadow: 0 1px 0 #fff;
    font-size: 12px;
    color: #333;
}
.friend_link .wrapper{
    width: 1200px;
    margin: 0 auto;
}
.friend_link .wrapper .left{
    width: 60px;
    color: #999;
    float: left;
    display: block;
}
.friend_link .wrapper .right{
    width: 30px;
    color: #999;
    float: right;
    display: block;
    margin-inline-start: 40px;
}
.friend_link .wrapper .right a{
    color: #999;
}
.friend_link .wrapper .flink_box{
    margin: 0 30px 0 60px;
    height: 40px;
    overflow: hidden;
    display: block;
}
.friend_link .wrapper .flink_box .tempWrap{
    overflow: hidden;
    position: relative;
    height: 40px;
}
.friend_link .wrapper .flink_box .tempWrap ul{
    height: 600px;
    position: relative;
    padding: 0px;
    margin: 0px;
    top: 0;
    text-shadow: 0 1px 0 #fff;
    transition: 1s;
}
.friend_link .wrapper .flink_box .tempWrap ul li{
    height: 40px;
    width: 100%;
    overflow: hidden;
}
.friend_link .wrapper .flink_box .tempWrap ul li a{
    display: inline-block;
    width: 90px;
    margin-right: 2px;
    height: 40px;
    overflow: hidden;
    color: #333;
    text-align: center;
}
/* 右侧条 */
.tool-bar{
    font: 12px/1.5 tahoma, Verdana, arial, "microsoft yahei", "sim sun";
    color: #333;
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background: #505050;
    z-index: 98;
    transition: width .3s ease;
}
.tool-bar .tool-bar-menu{
    position: absolute;
    top: 50%;
    left: 0;
    height: 250px;
    margin-top: -125px;
}
.tool-bar .tool-bar-menu a{
    font: 12px/1.5 tahoma, Verdana, arial, "microsoft yahei", "sim sun";
    color: #333;
    transition: color .1s;
    border: 0;
    outline: 0;
    width: 25px;
    height: 25px;
    display: block;
    padding: 5px;
    position: relative;
}
.tool-bar .tool-bar-menu a .icon-1{
    color: #dfdfdf;
    font-style: normal;
    font-weight: normal;
    display: block;
    width: 25px;
    height: 25px;
    background-position: -25px -332px;
    text-align: center;
}
.tool-bar .tool-bar-menu a span{
    display: none;
    /* visibility: hidden; */
    position: absolute;
    top: 0;
    left: -80px;
    width: 70px;
    height: 35px;
    background: #419c86;
    color: #fff;
    text-align: center;
    line-height: 35px;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
}
.tool-bar .tool-bar-menu a span em{
    border-top: 5px solid transparent;
    border-left: 5px solid #419c86;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 0;
    right: -5px;
    top: 13px;
}
.tool-bar .tool-bar-menu a b{
    position: absolute;
    right: 2px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    background: #4FB99F;
    padding: 0 3px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
    font-weight: normal;
}
.tool-bar .scroll-to-top{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    padding: 5px;
}
.tool-bar .scroll-to-top .icon-1{
    background-position: 0 -332px;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
}
.tool-bar .scroll-to-top span{
    display: none;
    position: absolute;
    top: 0;
    left: -80px;
    width: 70px;
    height: 35px;
    background: #419c86;
    color: #fff;
    text-align: center;
    line-height: 35px;
}
.tool-bar .scroll-to-top span em{
    border-top: 5px solid transparent;
    border-left: 5px solid #419c86;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 0;
    right: -5px;
    top: 13px;
}
.tool-bar .tool-bar-frame{
    position: absolute;
    width: 300px;
    height: 100%;
    background: #fff;
    left: 35px;
    top: 0;
}
.tool-bar .tool-bar-frame p{
    text-align: center;
    margin-top: 200px;
}
